/* ================================= 
  SCOREBOARD
==================================== */
.scoreboard {
  background: #FCE7BE;
  margin: -15px auto 0px auto;
  border-radius: 15px;
  color: #95989A;
  text-transform:uppercase;
}

.scoreboard-header {
  padding: 0px 5px;
  text-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 15px 15px 0 0;
  border-bottom: solid 4px #FFCF74;
}

.scoreboard-header h1 {
  color: #FFCF74;
  flex-grow: 1;
  font-size: 1.2em;
  letter-spacing: 3px;
  margin:5px;
}

.stats {
  margin-top: 0;
  font-weight: normal;
}

.stats td:first-child {
  text-align: right;
  font-weight: normal;
  letter-spacing: 2px;
  color: #95989A;
  font-size: .8em;
}

.stats td:last-child {
  text-align: left;
  color: #FFCF74
}

.stopwatch {
  padding: 1px;
  background: #FFF7E6;
  border-radius: 0 15px 0 0;
}

.stopwatch-time {
  font-family: monospace;
}

.stopwatch button {
  margin: 0px 5px;
  background-color: #95989A;
  border-radius: 5px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
}

.stopwatch button:hover {
  background: #FFCF74;
  color: #fafafa;
  cursor: pointer;
}

.stopwatch h2 {
  font-size: 1em;
  margin: 0;
  letter-spacing: 2px;
  color: #FFCF74;
}

.players{
  background: #FFF7E6;
}

.player {
  display: flex;
  border-bottom: solid 3px #FCE7BE;
  letter-spacing: 2px;
}

.remove-player {
  margin-right: 10px;
  color: #333 !important;
  cursor: pointer;
}

.player-name:hover .remove-player {
  visibility: visible;
}

.player-name {
  flex-grow: 1;
  padding: 5px;
}

.player-score {
  width: 190px;
  background: blue;
}

.counter {
  padding-right:20px;
  display: flex;
  background: #FFF7E6;;
}

.counter-action {
  border: none;
  font-weight: bold;
  color: #FAFAFA;
  display: block;
  padding: 0px 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.counter-action.increment {
  background: #FFCF74;
}

.counter-action.increment:hover {
  background: #FFB11D;
  cursor: pointer;
}

.counter-action.decrement {
  background: #95989A;
}

.counter-action.decrement:hover {
  background: #333333;
  cursor: pointer;
}

.counter-score {
  flex-grow: 1;
  background: #FFF7E6;
  text-align: center;
  font-family: monospace;
  padding: 2px;
  font-size: 2em;
}


.add-player-form form {
  display: flex;
  background-color: #fff;
  border-radius: 0 0 20px 20px
}

.add-player-form input[type=text] {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 9px;
  padding: 5px;
  border-radius: 5px;
  background-color: #FFF7E6;
  border-style: none;
  text-shadow: none;
  text-transform: uppercase;
  color: #999;
  letter-spacing: 2px;
  outline: none;
}

.add-player-form input[type=text]::-webkit-input-placeholder{
  color: #C3C3C3;
  letter-spacing: 2px;
}

.add-player-form input[type=text]:focus{
  background-color: #FFCF74;
}

.add-player-form input[type=submit] {
  display: block;
  font-size: .6em;
  margin: 9px; 
  padding: 5px;
  background-color: #FFCF74;
  border-radius: 5px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
}

.add-player-form input[type=submit]:hover{
  background: #FFB11D;
  color: #fafafa;
  cursor: pointer;
}
@media (min-width: 768px){
  .scoreboard {
    width: 600px;
    margin: 0px auto;
  }
  .scoreboard-header {
    padding: 5px 10px;
    display: flex;
  }
  .scoreboard-header h1 {
    font-size: 1.5em;
  }
  .stopwatch {
  margin: -5px -10px -5px 10px;
  padding: 15px 10px 5px 10px;
  }
  .stopwatch button {
    margin: 8px 5px;
    padding: 7px 8px;
  }
  .stopwatch-time {
    font-size: 2em;
  }
  .player {
    font-size: 1.2em;
  }
  .player-name {
    padding: 20px 10px 10px 10px;
  }
  .counter-action {
    padding: 20px 20px;
  }
  .counter-score {
    padding: 10px;
  }
   .add-player-form input[type=submit] {
    margin: 15px 15px 15px 0; 
    padding: 10px;
  }
  .add-player-form input[type=text] {
    margin: 15px 10px 15px 15px;
    padding: 10px;
  }
  .remove-player {
    visibility: hidden;
    margin-right: 10px;
    color: #333 !important;
    cursor: pointer;
  }
}